Source: erlang-p1-zlib
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
XSBC-Orig-Maintainer: Philipp Huebner <debalance@debian.org>
Build-Depends: debhelper (>= 9), dh-rebar, erlang-eunit, erlang-syntax-tools, zlib1g-dev
Standards-Version: 4.1.3
Section: libs
Homepage: https://github.com/processone/ezlib
VCS-Browser: https://github.com/jabber-at/zlib
VCS-Git: https://github.com/jabber-at/zlib.git

Package: erlang-p1-zlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends}
Conflicts: ejabberd (<< 1:16.02)
Description: erlang interface to zlib
 This library was written for ejabberd which still uses it.
 It was split off into it's own project to follow
 Erlang/OTP guidelines.
